:root {
  --flip: cubic-bezier(0.65, 0, 0.35, 1);
  --flip-first-half: cubic-bezier(0.65, 0, 0.8, 0.4);
  --flip-second-half: cubic-bezier(0, 0.65, 0.4, 0.8);
  --bg-carbongray-50: #f2f4f8;
  --bg-carbongray-100: #dde1e6;
  --bg-carbongray-200: #c1c7cd;
  --bg-carbongray-300: #a2a9b0;
  --bg-carbongray-400: #878d96;
  --bg-carbongray-500: #697077;
  --bg-carbongray-600: #4d5358;
  --bg-carbongray-700: #343a3f;
  --bg-carbongray-800: #21272a;
  --bg-carbongray-900: #121619;
  --bg-carbonblue-50: #edf5ff;
  --bg-carbonblue-100: #d0e2ff;
  --bg-carbonblue-200: #a6c8ff;
  --bg-carbonblue-300: #78a9ff;
  --bg-carbonblue-400: #4589ff;
  --bg-carbonblue-500: #0f62fe;
  --bg-carbonblue-600: #0043ce;
  --bg-carbonblue-700: #002d9c;
  --bg-carbonblue-800: #001d6c;
  --bg-carbonblue-900: #001141;
}

html {
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Lxgw975GoSC';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Lxgw975GoSC-200W.woff2') format('woff2');
}

@font-face {
  font-family: 'Lxgw975GoSC';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Lxgw975GoSC-400W.woff2') format('woff2');
}

html {
  font-family: 'Lxgw975GoSC', 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei',
    'Hiragino Sans GB', 'Heiti SC', 'WenQuanYi Micro Hei', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji' !important;
}

.bhem {
  padding: 2px 12px;
  margin-bottom: 16px;
  border-left: 3px solid;
  background-color: var(--bg-carbongray-800);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.bhem .bhemh {
  display: flex;
  margin-top: 8px;
  margin-bottom: 2px;
}

.bhem .bhemh .bhemi {
  margin-right: 4px;
}

.bhem.bh-info {
  border-left-color: #4589ff;
}

.bhem.bh-info .bhemi {
  color: #4589ff;
}

.bhem.bh-warn {
  border-left-color: #f1c21b;
}

.bhem.bh-warn .bhemi {
  color: #f1c21b;
}

.bhem.bh-check {
  border-left-color: #42be65;
}

.bhem.bh-check .bhemi {
  color: #42be65;
}

.bhem.bh-exception {
  border-left-color: #fa4d56;
}

.bhem.bh-exception .bhemi {
  color: #fa4d56;
}

.bhc {
  display: block;
  margin-bottom: 16px;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.bhc .bhci {
  height: 80px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.bhc .bhcc {
  background-color: var(--bg-carbongray-800);
  padding: 12px 16px;
}

a.bhc .bhcc:hover {
  background-color: var(--bg-carbongray-700);
}

.utterances {
  max-width: unset;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-button {
  background-color: var(--bg-carbongray-800);
  display: none;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-carbongray-800);
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-carbongray-500);
  border-radius: 0;
}

body {
  /* For Firefox */
  scrollbar-color: var(--bg-carbongray-400) var(--bg-carbongray-800);
  scrollbar-width: thin;
}

.markdown pre {
  position: relative;
}

.markdown pre:not(:empty) .copy:empty {
  display: none !important;
}

.markdown pre:not(:empty) .copy {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 6px 8px;
  font-size: 12px;
  color: var(--bg-carbongray-200);
  background-color: var(--bg-carbongray-700);
  cursor: pointer;
  opacity: 0;
  transition: 250ms opacity;
  pointer-events: none;
  user-select: none;
}

.markdown pre:not(:empty):focus .copy,
.markdown pre:not(:empty):hover .copy {
  opacity: 1;
  pointer-events: auto;
}

@media (hover: none) {
  .markdown pre:not(:empty) .copy {
    opacity: 1 !important;
    pointer-events: auto !important;
  }
}
