@font-face {
  font-family: 'Lxgw975GoSC';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Lxgw975GoSC-200W.woff2') format('woff2');
}

@font-face {
  font-family: 'Lxgw975GoSC';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Lxgw975GoSC-400W.woff2') format('woff2');
}

html {
  font-family: 'Lxgw975GoSC', 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei',
    'Hiragino Sans GB', 'Heiti SC', 'WenQuanYi Micro Hei', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji' !important;
}

.os-scrollbar.os-theme-body {
  --os-handle-bg: rgba(255, 255, 255, 0.44);
  --os-handle-bg-hover: rgba(255, 255, 255, 0.55);
  --os-handle-bg-active: rgba(255, 255, 255, 0.66);
  --os-size: 12px;
  --os-track-border-radius: 0;
  --os-handle-border-radius: 0;
  --os-padding-perpendicular: 2px;
  --os-padding-axis: 2px;
  --os-handle-interactive-area-offset: 4px;
}

.os-scrollbar.os-theme-other {
  --os-handle-bg: rgba(255, 255, 255, 0.44);
  --os-handle-bg-hover: rgba(255, 255, 255, 0.55);
  --os-handle-bg-active: rgba(255, 255, 255, 0.66);
  --os-size: 10px;
  --os-track-border-radius: 0;
  --os-handle-border-radius: 0;
  --os-padding-perpendicular: 2px;
  --os-padding-axis: 2px;
  --os-handle-interactive-area-offset: 4px;
}

:root {
  --bg-carbongray-50: #f2f4f8;
  --bg-carbongray-100: #dde1e6;
  --bg-carbongray-200: #c1c7cd;
  --bg-carbongray-300: #a2a9b0;
  --bg-carbongray-400: #878d96;
  --bg-carbongray-500: #697077;
  --bg-carbongray-600: #4d5358;
  --bg-carbongray-700: #343a3f;
  --bg-carbongray-800: #21272a;
  --bg-carbongray-900: #121619;
  --bg-carbonblue-50: #edf5ff;
  --bg-carbonblue-100: #d0e2ff;
  --bg-carbonblue-200: #a6c8ff;
  --bg-carbonblue-300: #78a9ff;
  --bg-carbonblue-400: #4589ff;
  --bg-carbonblue-500: #0f62fe;
  --bg-carbonblue-600: #0043ce;
  --bg-carbonblue-700: #002d9c;
  --bg-carbonblue-800: #001d6c;
  --bg-carbonblue-900: #001141;
}

html {
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

.utterances {
  max-width: unset;
}

.markdown .code-wrapper {
  position: relative;
}

.markdown pre {
  margin-inline: 12px;
  outline: none;
}

.markdown pre:not(:empty) + .copy {
  position: absolute;
  top: 6px;
  right: 20px;
  padding: 4px;
  color: var(--bg-carbongray-200);
  background-color: var(--bg-carbongray-700);
  cursor: pointer;
  opacity: 0;
  transition: 300ms opacity ease-in-out;
  user-select: none;
}

.markdown .code-wrapper:hover .copy,
.markdown .copy:hover {
  opacity: 1 !important;
}

.prose {
  max-width: none !important;
}

.prose p:first-child {
  margin-top: 0 !important;
}

.prose h1:first-child,
.prose h2:first-child,
.prose h3:first-child,
.prose h4:first-child,
.prose h5:first-child {
  margin-top: 0;
}

.markdown pre code::before,
.markdown pre code::after {
  content: '' !important;
}
